body {
    background-color: #FEEAED;
}

h1 {
    background-color: #ff50ba;
}

h1, h2, h3, h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
li {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/* use flex box */ /*resize videos*/
.vidlib {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}

.artlib {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}