/* style across all pages*/

/*general stuff */


body {
    background-color: #FEEAED;
}



nav {
    display: none;
}

li a {
    text-decoration-line: none;
    color: white;

}

li a:hover { /*applies to article library too*/
    color: white;
}

h1, h2, h3, h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color:white;
    background-color: #ff50ba;
    text-align: center;
    padding: 1rem;
    border-radius: 5px 5px 5px 5px;
}
p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
li {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}


/*library*/
/* use flex box */ /*resize videos*/

div.shelf1 {
    padding-top: 10rem;
    background-image: url('../img/book1.jpg');
    background-color: white;
    background-repeat: repeat-x;
}

div.shelf2 {
    padding-top: 10rem;
    background-image: url('../img/book2.jpg');
    background-color: white;
    background-repeat: repeat-x;
}

ul {
    background-color: #ff50ba;
    color: white;
}

.list {
    padding: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.vidlib {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
}

/*cards in lib*/

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;

}


.btn btn-primary {
    border-radius: 5px !important;
    background-color:white !important;
    color:#ff50ba !important;  
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit:contain;
}
/*Doing Research*/

img {
    max-height: 500px;
}

/* media query screen sizes */

@media (min-width: 664px) {

    nav {
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        color: white;
        background-color: #ff50ba;
        text-align: center;
    }
    
    nav li {
        display: inline;
        margin: 0 1rem; /*trbl*/
        padding: 0;
}



@media (min-width: 768px) {
    
        

}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}


